.card {
  margin: 10px 0px;
  position: relative;
  width: 100%;
  display: flex;
  /* border: 1px solid #e5e5e5; */
  border-radius: 5px;
  border: 1px solid #dfdfdf;
  /* box-shadow: 1px 1px 3px 1px rgba(60, 64, 67, 0.1); */
}

.card-img {
  margin: 10px 0px 10px 10px;
  height: 120px;
  width: 120px;
  border: 1px solid #e5e5e5;
}

.card-link {
  position: absolute;
  top: 5px;
  left: calc(100% - 30px);
}

.card-link img {
  width: 24px;
}

.card-infos {
  display: flex;
  flex-direction: column;
  margin: 10px;
  width: 100%;
}

.card-infos-row {
  display: flex;
  justify-content: space-between;
}

.card-infos-col {
  width: 45%;
}
